<div class="card">
    <div class="card-body">
      <p class=text-center>Consulta Checkin</p>
        <input type="checkbox" #aindaPresente #newAdicionarVeiculo /> Pessoas ainda presentes<br>
        <input type="checkbox" #deixaramHotel #newAdicionarVeiculo /> Pessoas que já deixaram hotel<br>
        <button (click)="filtrarList(aindaPresente, deixaramHotel)" class="btn seniorColor">
          Filtrar
        </button>
    </div>
  <div class="card-body">
      <table class="table table-striped">
          <thead>
            <th *ngFor="let col of columns">
              {{col}}
            </th>
          </thead>
        <tbody>
        <tr *ngFor="let checkin of checkins | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
          <th>{{checkin.pessoa.nome}}</th>
          <th>{{checkin.pessoa.documento}}</th>
          <th>{{checkin.valorTotal}}</th>
          <button (click)="deleteCheckin(checkin)" class="btn btn-danger">
            Delete
          </button>
        </tr>
        </tbody>
      </table>
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>
</div>

<datalist id="pessoas" >
    <option *ngFor="let option of pessoas" [value]="option.nome" >{{option.nome}}</option>
</datalist>
