<div class="container p-4">
  <div class="row">
    <div class="col-md-5 text-center">
      <div class="card">
        <div class="card-body">
          <p>Check in</p>
          <form (submit)="addCheckin(pessoa, newAdicionarVeiculo, newDataEntrada, newDataSaida)">
          <div class="form-group">
            <input type="datetime-local" placeholder="Data/hora de entrada" #newDataEntrada class="form-control" required>
            <input type="datetime-local" placeholder="Data/hora de saída" #newDataSaida class="form-control" required>
            <input type="text" placeholder="Nome Pessoa" #pessoa class="form-control" required list="pessoas">
            <input type="checkbox" checked="checked" #newAdicionarVeiculo /> possui veiculo<br>
          </div>
            <button type="submit" class="btn btn-primary btn-block seniorColor">salvar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-5 text-center">
      <app-lista-checkin></app-lista-checkin>
    </div>
  </div>
</div>

<datalist id="pessoas" >
  <option *ngFor="let option of pessoas" [value]="option.nome" >{{option.nome}}</option>
</datalist>
